@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section>
    <p>Enter customer name</p>
    <form method="post">
        Name:
        <input asp-for="Customer.Name"/><br />
        <span asp-validation-for="Customer.Name" class="text-danger"></span><br />
        <input type="submit" class="btn-primary"/>
    </form>
</section>