@page
@model DiegoOrdonezBecerril_18300218_RazorPages.Pages.Cursos.CreateModel
@{
    ViewData["Title"] = "Crear curso";
}

<br />
<h2 class="text-info">Crear nuevo curso</h2>

<div class="border">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container p-3">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Curso.Nombre"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Curso.Nombre" placeholder="Nombre del curso" class="form-control" />
                    </div>
                    <span asp-validation-for="Curso.Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Curso.Cantidad"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Curso.Cantidad" placeholder="Cantidad de clases" class="form-control" />
                    </div>
                    <span asp-validation-for="Curso.Cantidad" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Curso.Precio"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Curso.Precio" placeholder="Precio" class="form-control" />
                    </div>
                    <span asp-validation-for="Curso.Precio" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 offset-sm-2">
                        <input type="submit" value="Crear" class="btn btn-primary form-control" />
                    </div>
                    <div class="col-sm-2">
                        <a asp-page="Index" class="btn btn-success form-control">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>